* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
body.loading * {
  pointer-events: none;
}

@font-face {
  font-family: "Druk Wide Bold";
  src: url("./druk-wide-bold/DrukWideBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: #212121;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}
.font-main {
  font-family: "Druk Wide Bold", sans-serif;
}
.font-child {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  overflow: hidden;
}
.navbar h1 {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 1000;
}
.navbar ul {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.lang {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  height: 600px;
  width: 100%;
  margin-top: 20vh;
}
.div1 {
  position: relative;
  height: 100%;
  width: 100%;
}
.div2 {
  position: relative;
  height: 100%;
  width: 100%;
}
.div3 {
  position: relative;
  height: 100%;
  width: 100%;
}
.div4 {
  position: relative;
  height: 100%;
  width: 100%;
}
.hero img {
  height: 200px;
  width: 350px;
}
.title {
  margin-top: 30px;
  position: absolute;
  top: 0;
  color: #ffffff;
  z-index: 20;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  overflow: hidden;
}
.title h1 {
  font-size: 90px;
  text-align: center;
  line-height: 1;
  overflow: hidden;
}
span {
  overflow: hidden;
}
.img1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.img2 {
  position: absolute;
  top: 0;
  left: 0;
}
.img3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.img4 {
  position: absolute;
  top: 0;
  right: 0;
}
.img1,
.img2,
.img3,
.img4,
.title {
  border: 0px solid white;
  transition: border 0.3s ease;
}
.overlay {
  z-index: 50;
}
.outline-text {
  font-size: 80px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  position: absolute;
  z-index: 0;
}

.outline-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 350px;
  height: 200px;
  position: absolute;
  z-index: 0;
}
.hide {
  overflow: hidden;
}
.img1-text {
  position: absolute;
  color: #ffffff;
  bottom: -95px;
  right: -160px;
  opacity: 0;
}
.img1-text h1 {
  font-size: 35px;
}
.img-text {
  position: absolute;
  color: #ffffff;
  bottom: -50px;
  right: -60px;
  opacity: 0;
}
.img-text h1 {
  font-size: 35px;
}
